<link rel="stylesheet" href="zTree/css/metroStyle/metroStyle.css" type="text/css">
<script type="text/javascript" src="zTree/js/jquery.ztree.core.js"></script>
<script type="text/javascript" src="zTree/js/jquery.ztree.excheck.js"></script>
<script type="text/javascript" src="zTree/js/jquery.ztree.exedit.js"></script>

<div class="am-cf am-padding am-padding-bottom-0">
    <div class="am-fl am-cf">
        <strong class="am-text-primary am-text-lg">系统管理</strong> /
        <small>权限管理</small>
    </div>
</div>

<!--新增、修改 模态框-->
<div class="am-modal am-modal-prompt" tabindex="-1" id="my-prompt">
    <div class="am-modal-dialog">
        <div class="am-modal-hd">权限配置</div>
        <div class="am-modal-bd">
            <div class="am-form-group">
                <div class="am-form am-form-horizontal" id="formSubmitData">
                    <input type="hidden" id="id" name="id"/>
                    <div class="am-form-group">
                        <label for="name" class="am-u-sm-12 am-u-md-3 am-form-label">权限名称</label>
                        <div class="am-u-sm-12 am-u-md-9">
                            <input type="text" id="name" name="name" placeholder="输入权限名称" class="am-form-field am-radius">
                        </div>
                    </div>
                    <div class="am-form-group">
                        <label class="am-u-sm-12 am-u-md-3 am-form-label">管理菜单</label>
                        <div class="am-u-sm-12 am-u-md-9">
                            <div id="doc-dropdown-menu" class="am-dropdown am-u-sm-12 am-u-md-9" data-am-dropdown>
                                <input id="menu_Name" type="text" class="am-form-field am-radius am-dropdown-toggle" placeholder="请选择菜单" readonly="readonly"/>
                                <input id="menu_id" type="hidden" />
                                <div class="am-dropdown-content"  style="height: 220px;width: 250px;overflow:auto;overflow-x:hidden;">
                                    <ul id="menuShowList" class="ztree"></ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="am-form-group">
                        <label class="am-u-sm-12 am-u-md-3 am-form-label">权限</label>
                        <div class="am-u-sm-12 am-u-md-9">
                            <label class="am-checkbox-inline">
                                <input id="a" name="rightCheckbox" type="checkbox">增
                            </label>
                            <label class="am-checkbox-inline">
                                <input id="d" name="rightCheckbox" type="checkbox">删
                            </label>
                            <label class="am-checkbox-inline">
                                <input id="u" name="rightCheckbox" type="checkbox">改
                            </label>
                            <label class="am-checkbox-inline">
                                <input id="s" name="rightCheckbox" type="checkbox">查
                            </label>
                            <label class="am-checkbox-inline">
                                <input id="i" name="rightCheckbox" type="checkbox">导入
                            </label>
                            <label class="am-checkbox-inline">
                                <input id="e" name="rightCheckbox" type="checkbox">导出
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="am-modal-footer">
            <span class="am-modal-btn" data-am-modal-cancel>取消</span>
            <span class="am-modal-btn" data-am-modal-confirm>提交</span>
        </div>
    </div>
</div>

<!--删除模态框-->
<div class="am-modal am-modal-confirm" tabindex="-1" id="my-confirm">
    <div class="am-modal-dialog">
        <div class="am-modal-hd">权限删除</div>
        <div class="am-modal-bd">
            你，确定要删除这条记录吗？
        </div>
        <div class="am-modal-footer">
            <span class="am-modal-btn" data-am-modal-cancel>取消</span>
            <span class="am-modal-btn" data-am-modal-confirm>确定</span>
        </div>
    </div>
</div>
<hr>

<div class="am-g">
    <div class="am-u-md-12">
        <!-- Example Classes -->
        <div id="toolbar" class="form-inline am-u-sm-12 am-u-md-12 am-u-lg-12">
                <button id="addrow" data-am-modal="{target: '#my-popup'}" class="form-control am-btn am-btn-success">
                    <i class="am-icon-plus"></i>新增
                </button>
                <button id="delrow" class="form-control am-btn am-btn-danger">
                    <i class="am-icon-trash-o"></i>删除
                </button>
                <input id="rightName" name="rightName" class="form-control" placeholder="请输入权限名称"/>

                <div id="doc-dropdown" class="am-dropdown" data-am-dropdown>
                    <input id="rightMenu" class="form-control am-dropdown-toggle" placeholder="请选择菜单" readonly="readonly"/>
                    <input id="rightMenuId" type="hidden" />
                    <div class="am-dropdown-content" style="max-height: 220px;width: 250px;overflow:auto;overflow-x:hidden;">
                        <ul id="menuSearchList" class="ztree"></ul>
                    </div>
                </div>

                <button class="form-control" onclick="query()">查询</button>
        </div>
        <table id="table"></table>
    </div>
</div>

<script>
    var deleteId="",rightCheckbox="";
    $(function () {
        window.events = {
            'click #edit': function (e, value, row, index) {
                $.each(row,function(i,e){
                    var $obj = $("#"+i);
                    if($obj.attr("name")=="rightCheckbox"){
                        if(e==1){
                            $("#"+i).prop("checked",true);
                        }else{
                            $("#"+i).prop("checked",false);
                        }
                    }else{
                        $("#"+i).val(e);
                    }
                });
                openModal();
            },
            'click #del': function (e, value, row, index) {
                deleteData(value);
            }
        };
        initBootstrapTable();
        $('#doc-dropdown').dropdown({justify: '#doc-dropdown'});
        $('#doc-dropdown-menu').dropdown({justify: '#doc-dropdown-menu'});
    });

    function query(){
        initBootstrapTable();
    }

    function initBootstrapTable(){

        var result = {};
        result.columns = [];
        result.columns.push({field: "选择",checkbox: true,title:"选择",align:"center",valign:"middle"}),
        result.columns.push({field: 'id',title: '操作',align: 'center',valign: 'middle',width: '140px',events: events,formatter: formatter});
        result.columns.push({field: 'name',title: "权限名称",align: 'center',valign: 'middle',rowspan: 1,colspan: 1});
        result.columns.push({field: 'menu_id',title: "菜单选择",align: 'center',valign: 'middle',rowspan: 1,colspan: 1});
        result.columns.push({field: 'a',title: "增",align: 'center',valign: 'middle',rowspan: 1,colspan: 1,
            formatter: function (value, row, index) {if(value==1){return '是';}else{return '-';}}
        });
        result.columns.push({field: 'd',title: "删",align: 'center',valign: 'middle',rowspan: 1,colspan: 1,
            formatter: function (value, row, index) {if(value==1){return '是';}else{return '-';}}
        });
        result.columns.push({field: 'u',title: "改",align: 'center',valign: 'middle',rowspan: 1,colspan: 1,
            formatter: function (value, row, index) {if(value==1){return '是';}else{return '-';}}
        });
        result.columns.push({field: 's',title: "查",align: 'center',valign: 'middle',rowspan: 1,colspan: 1,
            formatter: function (value, row, index) {if(value==1){return '是';}else{return '-';}}
        });
        result.columns.push({field: 'i',title: "导入",align: 'center',valign: 'middle',rowspan: 1,colspan: 1,
            formatter: function (value, row, index) {if(value==1){return '是';}else{return '-';}}
        });
        result.columns.push({field: 'e',title: "导出",align: 'center',valign: 'middle',rowspan: 1,colspan: 1,
            formatter: function (value, row, index) {if(value==1){return '是';}else{return '-';}}
        });
        $('#table').bootstrapTable('destroy').bootstrapTable({
            method:"post",
            url: '/right/list',
            cache: false, //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
            striped: true, //设置为 true 会有隔行变色效果
            pagination: true, //启动分页
            pageSize: 10, //每页显示的记录数
            pageNumber:1, //当前第几页
            pageList: [10, 20, 30, 50, 100,"ALL"], //记录数可选列表
            search: false, //是否启用查询
            showColumns: true, //显示下拉框勾选要显示的列
            minimumCountColumns:2,//过滤列时最少可以省下多少列
            showRefresh: true,//显示刷新按钮
            sidePagination:"server",//服务器端分页
            height: "380px",//table高度
            clickToSelect:false,//点击行内数据 进行checkbox选中
            sortable: true,
            toolbar:"#toolbar",//查询工具 自定义空间
            paginationPreText: "上一页",//上一页下一页图标 可自定义
            paginationNextText: "下一页",//上一页下一页图标 可自定义
            maintainSelected:true,
            sortable:true,
            queryParams:function(params){//查询参数
                $("#toolbar :input").each(function(i,e){
                    if($(e).attr("name")!=undefined){
                        params[$(e).attr("name")] = $(e).val();
                    }
                });
                return params;
            },
            showPaginationSwitch:false,//显示分页标签控制按钮
            showToggle:true,//选择性显示列 如果不想看到的列可以在此过滤掉
            cardView:false,//已卡片样式展示列表
            detailView:true,//详细列表显示 前面添加一个“ + ”点击可以看到详细列表
            detailFormatter:function(index,row){//详细信息拦截处理
                var result = "";
                for(var obj in row){
                    if(row[obj]!=undefined) {
                        result += "<div class='col-md-3'>"+obj + ":" + row[obj] + "\n</div>";
                    }else{
                        result += "<div class='col-md-3'>"+obj + ":\n</div>"
                    }
                }
                return JSON.stringify(row);
            },
            showExport:true,//table导出   server 服务器分页只能导出当前页  client分页 可以按规则导出
            exportDataType: "selected",//导出文件 basic 是本页信息、all是所有信息、selected被选中信息
            columns: result.columns
        });

    }

    function formatter(value, row, index) {
        return [
            '<div class="am-btn-group-xs">'+
            '<button id="edit" type="button" data-am-modal="{target: \'#my-popup\'}" ' +
            'class="am-btn-xs am-btn-warning am-round"><i class="am-icon-pencil"></i>修改</button>'+
            '<button id="del" type="button" ' +
            'class="am-btn-xs am-btn-danger am-round"><i class="am-icon-trash-o"></i>删除</button>'+
            '</div>'
        ].join('');
    }

    $("#addrow").on("click",function() {
        $("#formSubmitData :input").not("[type='checkbox']").val("");
        $("#formSubmitData :input[type='checkbox']").prop("checked",false);
        openModal();
    });

    $("#delrow").on("click",function() {
        var value = "";
        var checkedData = $('#table').bootstrapTable('getAllSelections');
        for(var ind in checkedData){
            value += checkedData[ind].id+"','";
        }
        value = value.substring(0,value.length-3);
        deleteData(value);
    });

    function openModal(){
        $('#my-prompt').modal({
            relatedTarget: this,
            onConfirm: function(e) {
                var data = {};
                $("#formSubmitData :input").each(function(i,e){
                    var $obj = $(e);
                    if($obj.attr("name")=="rightCheckbox"){
                        if($obj.is(":checked")){
                            data[$obj.attr("id")]=1;
                        }else{
                            data[$obj.attr("id")]=0;
                        }
                    }else{
                        data[$obj.attr("id")]=$obj.val();
                    }
                });
                $.post("/right/save",data,function(data){
                    if(data.status=="SUCCEED"){
                        cheers.success({
                            title: '提示',
                            message: data.msg,
                            alert: data.msg
                        });
                    }else{
                        cheers.error({
                            title: '错误',
                            message: data.msg,
                            alert: data.msg
                        });
                    }
                    initBootstrapTable();
                });
            },
            onCancel: function(e) {
            }
        });
    }

    function deleteData(value){
        var data={};
        data.id = value;
        $('#my-confirm').modal({
            relatedTarget: this,
            onConfirm: function(options) {
                $.post("/right/del", data, function (result) {
                    if(data.status=="SUCCEED"){
                        cheers.success({
                            title: '提示',
                            message: data.msg,
                            alert: data.msg
                        });
                    }else{
                        cheers.error({
                            title: '错误',
                            message: data.msg,
                            alert: data.msg
                        });
                    }
                    initBootstrapTable();
                });
            },
            onCancel: function() {
            }
        });
    }

    // 下拉zTree组件组织
    var setting = {
        view: {
            selectedMulti: true
        },
        check: {
            enable: true
        },
        data: {
            simpleData: {
                enable: true
            }
        },
        edit: {
            enable: true
        }
    };

    var zNodes =[
        { id:1, pId:0, name:"父节点1", open:true},
        { id:11, pId:1, name:"父节点11"},
        { id:111, pId:11, name:"叶子节点111"},
        { id:112, pId:11, name:"叶子节点112"},
        { id:113, pId:11, name:"叶子节点113"},
        { id:114, pId:11, name:"叶子节点114"},
        { id:12, pId:1, name:"父节点12"},
        { id:121, pId:12, name:"叶子节点121"},
        { id:122, pId:12, name:"叶子节点122"},
        { id:123, pId:12, name:"叶子节点123"},
        { id:124, pId:12, name:"叶子节点124"},
        { id:13, pId:1, name:"父节点13", isParent:true},
        { id:2, pId:0, name:"父节点2"},
        { id:21, pId:2, name:"父节点21", open:true},
        { id:211, pId:21, name:"叶子节点211"},
        { id:212, pId:21, name:"叶子节点212"},
        { id:213, pId:21, name:"叶子节点213"},
        { id:214, pId:21, name:"叶子节点214"},
        { id:22, pId:2, name:"父节点22"},
        { id:221, pId:22, name:"叶子节点221"},
        { id:222, pId:22, name:"叶子节点222"},
        { id:223, pId:22, name:"叶子节点223"},
        { id:224, pId:22, name:"叶子节点224"},
        { id:23, pId:2, name:"父节点23"},
        { id:231, pId:23, name:"叶子节点231"},
        { id:232, pId:23, name:"叶子节点232"},
        { id:233, pId:23, name:"叶子节点233"},
        { id:234, pId:23, name:"叶子节点234"},
        { id:3, pId:0, name:"父节点3", isParent:true}
    ];

    $(document).ready(function(){
        $.fn.zTree.init($("#menuShowList,#menuSearchList"), setting, zNodes);
    });

    var newCount = 1;
    function addHoverDom(treeId, treeNode) {
        var sObj = $("#" + treeNode.tId + "_span");
        if (treeNode.editNameFlag || $("#addBtn_"+treeNode.tId).length>0) return;
        var addStr = "<span class='button add' id='addBtn_" + treeNode.tId
                + "' title='add node' onfocus='this.blur();'></span>";
        sObj.after(addStr);
        var btn = $("#addBtn_"+treeNode.tId);
        if (btn) btn.bind("click", function(){
            var zTree = $.fn.zTree.getZTreeObj("treeDemo");
            zTree.addNodes(treeNode, {id:(100 + newCount), pId:treeNode.id, name:"new node" + (newCount++)});
            return false;
        });
    };
    function removeHoverDom(treeId, treeNode) {
        $("#addBtn_"+treeNode.tId).unbind().remove();
    };

    /**
     * 树形菜单 数据组织
     */
    function buildDomTree() {
        var treeData = {};
        $.ajax({url:"/menu/list",data:{},async:false,type:"post",dataType:"json",
            success:function(data) {
                treeData.id = "0";
                treeData.pid = "";
                treeData.text = "菜单配置";
                treeData.name = "菜单配置";
                treeData.pName = "";
                treeData.nodes = [];
                treeData.nodes = $.getTreeData(data);
            }
        });
        return [treeData];
    }

</script>
