<div class="am-cf am-padding am-padding-bottom-0">
    <div class="am-fl am-cf">
          <strong class="am-text-primary am-text-lg">系统管理</strong> /
          <small>角色管理</small>
    </div>
</div>

<hr>

<div class="am-g">
     <!--位置信息-->
     <div class="am-u-sm-12">
          <!--边框-->
          <div class="am-panel am-panel-default am-panel-bd">
              <div class="am-g">

                  <div class="am-u-md-12">
                      <div id="firstTree">
                      </div>
                  </div>

              </div>
          </div>
     </div>

</div>

<script>

    $(function() {
    });

</script>
